
@font-face {
	font-family: 'lipstick';
	src: url('fonts/lipstick/lipstickscriptsskbold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/lipstick/lipstickscriptsskbold.woff') format('woff'),
	     url('fonts/lipstick/lipstickscriptsskbold.ttf')  format('truetype'),
	     url('fonts/lipstick/lipstickscriptsskbold.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'brushup';
  src: url('fonts/brushup/pintassilgoprintsbrushup.eot?#iefix') format('embedded-opentype'),
       url('fonts/brushup/pintassilgoprintsbrushup.woff') format('woff'),
       url('fonts/brushup/pintassilgoprintsbrushup.ttf')  format('truetype'),
       url('fonts/brushup/pintassilgoprintsbrushup.svg#svgFontName') format('svg');
}
body {
	font-family: arial,sans-serif;
	background-color: #f9f9f9;
	color: #2a2a2a;
}
h1,h2 {
  font-family: brushup,serif;
}
h2 {
	padding: 0;
	background-color: transparent;
	color: #ae1a87;
	-webkit-transform: rotate(-3deg);
	/* Firefox */
	-moz-transform: rotate(-3deg);
	/* IE */
	-ms-transform: rotate(-3deg);
	/* Opera */
	-o-transform: rotate(-3deg);
	/* Internet Explorer */
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
h2.as-btn-xs {
	color: #fff;
	background-color: #ae1a87;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 12px;
	background-image: url(images/ksc-arrow-down.png);
	background-position: center right 12px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(0deg);
	/* Firefox */
	-moz-transform: rotate(0deg);
	/* IE */
	-ms-transform: rotate(0deg);
	/* Opera */
	-o-transform: rotate(0deg);
	/* Internet Explorer */
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
h3 {
	font-family: lipstick,serif;
	color: #ed8b00;
}
a {
	color: #ed8b00;
}
h1 span.superlarge {

}
p.tilter,.header-instructions p {
	font-weight: bold;
}
p.tilter, .header-instructions p {
	-webkit-transform: rotate(-3deg);
	/* Firefox */
	-moz-transform: rotate(-3deg);
	/* IE */
	-ms-transform: rotate(-3deg);
	/* Opera */
	-o-transform: rotate(-3deg);
	/* Internet Explorer */
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
.orange {
	color: #ed8b00;
}
.bgbrown {
	background-color: #623412;
	color: #fff;
}
.section-break {
	height: 60px;
	background-color: #70aed1;
	background-image: url(images/ksc-section-arrow.png);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	z-index: 2;
}
.section-break-intro {
	position: relative;
}
.section-break-intro h3, .section-break-intro img {
	position: absolute;
}
.section-break-intro h3 {
	right: 80px;
	top: -100px;
}
.section-break-intro img {
	right: 0px;
	top: -60px;
}
.header {
  background-color: #f9f9f9;
}
.header .header-top {
  height: 80px;
}
.header .hd-padder {
	padding-top: 110px;
	position: relative;
}
.header .hd-padder .ksc-push {
	position: absolute;
	right: 30px;
	top: 10px;
}
.header .header-info {
  background-image: url(images/ksc-bg-people.png);
  height: 561px;
  width: 100%;
  background-color: #70aed1;
  background-position: center 50%;
  background-size: cover;
}
.header .header-nav {
  padding-top: 20px;
}
.header .ksc-logo {
	margin-bottom: 10px;
}
.header .logo-wrapper {
  width: 159px;
  height: 142px;
  position: relative;
}
.header .logo-wrapper {
  position: absolute;
  top: -51px;
}
ul.nav {
  list-style: none;
  list-style-image: none;
  background-color: #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-size: 0px;
}
ul.nav li {
  display: inline-block;
  background-color: #e3e3e3;
  font-size: 0px;
}
ul.nav li a {
  color: #47280b;
  display: block;
  line-height: 68px;
  font-size: 20px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  /*
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 2px solid white;
  position: relative;
  */
}
ul.nav li.active {
  background-color: #47280b;
  color: #e3e3e3;
}
ul.nav li.active a {
  color: #e3e3e3;
}
ul.nav li a:hover {
  background-color: #47280b;
  color: #e3e3e3;
}
ul.nav li.first, ul.nav li.first a {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
ul.nav li.last, ul.nav li.last a {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.footer .somepad {
	margin-top :20px;
}
.footer-end p {
	font-weight: normal;
	padding: 16px;
	font-size: 14px;
	margin-top: 70px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h2 {
		padding: 0;
		background-color: transparent;
		color: #ae1a87;
		font-size: 68px;
		-webkit-transform: rotate(-3deg);
		/* Firefox */
		-moz-transform: rotate(-3deg);
		/* IE */
		-ms-transform: rotate(-3deg);
		/* Opera */
		-o-transform: rotate(-3deg);
		/* Internet Explorer */
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	}
	h2.as-btn-xs {
		padding: 0;
		background-color: transparent;
		color: #ae1a87;
		font-size: 68px;
		-webkit-transform: rotate(-3deg);
		/* Firefox */
		-moz-transform: rotate(-3deg);
		/* IE */
		-ms-transform: rotate(-3deg);
		/* Opera */
		-o-transform: rotate(-3deg);
		/* Internet Explorer */
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header .hd-padder {
		padding-top: 30px;
	}
	.header .hd-padder .ksc-push {
		right: -30px;
		top: 30px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
