
@font-face {
	font-family: 'lipstick';
	src: url('fonts/lipstick/lipstickscriptsskbold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/lipstick/lipstickscriptsskbold.woff') format('woff'),
	     url('fonts/lipstick/lipstickscriptsskbold.ttf')  format('truetype'),
	     url('fonts/lipstick/lipstickscriptsskbold.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'brushup';
  src: url('fonts/brushup/pintassilgoprintsbrushup.eot?#iefix') format('embedded-opentype'),
       url('fonts/brushup/pintassilgoprintsbrushup.woff') format('woff'),
       url('fonts/brushup/pintassilgoprintsbrushup.ttf')  format('truetype'),
       url('fonts/brushup/pintassilgoprintsbrushup.svg#svgFontName') format('svg');
}
/*Bs override*/
.modal-header {
	border-bottom: none;
}
.modal-content {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form-control::-webkit-input-placeholder {
	color: #c2c2c2;
}

.from-control:-moz-placeholder { /* Firefox 18- */
	color: #c2c2c2;
}

.from-control::-moz-placeholder {  /* Firefox 19+ */
	color: #c2c2c2;
}

.form-control:-ms-input-placeholder {
	color: #c2c2c2;
}
.page-header {
	border-bottom: none;
}
.navbar-toggle {
	border: 2px solid #fff;
}
.icon-bar {
	background-color: #47280b;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 30px;
	height: 5px;
	border-radius: 2px;
}
.btn {
	font-family: brushup, arial, sans-serif;
	font-size: 24px;
}
.btn:focus {
	outline:0;
}
.btn-ksc-blu {
	background-color: #a6cde3;
	color: #fff;
	background-image: url(images/ksc-arrow-down.png);
	background-position: center right 12px;
	background-repeat: no-repeat;
}
.btn-ksc-blu:hover,.btn-ksc-blu:active,.btn-ksc-blu:focus {
	color: #fff;
}
.form-control {
	#c2c2c2;
}
.form-control.search {
	font-family: brushup, arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	padding: 24px;
	background-image: url(images/ksc-icon-search.png);
	background-position: center right 12px;
	background-repeat: no-repeat;
	color: #c2c2c2;
	opacity: 1;
}

.form-control.search-xs {
	margin-bottom: 10px;
}
.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 100%;
}
/**/
body {
	font-family: arial,sans-serif;
	background-color: #f9f9f9;
	color: #2a2a2a;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
}
h1,h2 {
  font-family: brushup,serif;
}
h2 {
	padding: 0;
	background-color: transparent;
	color: #ae1a87;
	-webkit-transform: rotate(-3deg);
	/* Firefox */
	-moz-transform: rotate(-3deg);
	/* IE */
	-ms-transform: rotate(-3deg);
	/* Opera */
	-o-transform: rotate(-3deg);
	/* Internet Explorer */
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
h2.as-btn-xs {
	color: #fff;
	background-color: #ae1a87;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 6px 12px;
	background-image: url(images/ksc-arrow-down.png);
	background-position: center right 12px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(0deg);
	/* Firefox */
	-moz-transform: rotate(0deg);
	/* IE */
	-ms-transform: rotate(0deg);
	/* Opera */
	-o-transform: rotate(0deg);
	/* Internet Explorer */
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
h3 {
	font-family: lipstick,serif;
	color: #ed8b00;
}
a {
	color: #ed8b00;
}
h1 span.superlarge {

}
a[href^=tel]{ color:inherit; text-decoration:none;}
p.tilter,.header-instructions p, .page-text p {
	font-weight: bold;
}
p.tilter, .header-instructions p, h3.tilter,.page-text p {
	-webkit-transform: rotate(-3deg);
	/* Firefox */
	-moz-transform: rotate(-3deg);
	/* IE */
	-ms-transform: rotate(-3deg);
	/* Opera */
	-o-transform: rotate(-3deg);
	/* Internet Explorer */
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	transform: translate3d(-3,0,0);
}
.orange,p span {
	color: #ed8b00;
}
.back-to-top {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 100;
}
.bgbrown {
	background-color: #623412;
	color: #fff;
}
.vignette-bg {
	background-image: url(images/ksc-vignette.png);
	background-size: cover;
}
.ppter {
	cursor: pointer;
}
.section-break {
	height:20px;
	background-color: #70aed1;
	background-image: url(images/ksc-section-arrow.png);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	z-index: 2;
}
.section-break-intro {
	position: relative;
}
.section-break-intro h3, .section-break-intro img {
	position: absolute;
}
.section-break-intro h3 {
	right: 80px;
	top: -100px;
}
.section-break-intro img {
	right: 0px;
	top: -60px;
}
.header {
  background-color: #f9f9f9;
}
.header .header-top {
	background-color: #ecebe9;
}
.header .header-top .container {
	padding-bottom: 5px;
	position: relative;
}
.header .header-top .navbar-toggle {
	position: relative;
	margin-top: 80px;
	left: 20px;
}
.header .header-top img {
	position: relative;
	left: -10px;
	width: 135px;
}
.header .hd-padder {
	padding-top: 110px;
	position: relative;
}
.header .hd-padder .ksc-push {
	position: absolute;
	right: 30px;
	top: 10px;
}
.header .header-lamp {

}
.header .header-info {
  background-image: url(images/ksc-bg-people.png);
  height: 561px;
  width: 100%;
  background-color: #70aed1;
  background-position: center 50%;
  background-size: cover;
}
.header .header-nav {
  padding-top: 20px;
}
.header .ksc-svg-logo {
	position: relative;
	z-index: 10;
}
.header .ksc-logo {
	margin-bottom: 10px;
	position: relative;
	top: -125px;
	left: -110px;
	margin-bottom: -90px;
}
.header .ksc-logo-xs {
	margin-bottom: 10px;
}
.header .logo-wrapper {
  width: 159px;
  height: 142px;
  position: relative;
}
.header .logo-wrapper {
  position: absolute;
  top: -70px;
}
.phone-play {
	position: relative;
}
.phone-play .arrow-up, .phone-play .play-text {
	position: absolute;
}
.phone-play img {
	vertical-align: text-bottom;
	/*
	bottom: -60px;
	position: relative;
	*/
}
.phone-play .arrow-up {
	right: 40px;
	top: 50%;
}
.phone-play .play-text {
	right: -5%;
	top: 60%;
}
.instructions {
	padding-top: 40px;
}
.instructions p.collapse {
	margin-top: 30px;
}
.nav-xs ul {
	list-style: none;
	list-style-image: none;
	background-color: #5a3b22;
	padding-left: 0;
	margin-bottom: 0;
	border-top: 1px solid #48260a;
	border-bottom: 1px solid #48260a;
}
.nav-xs ul li {
	padding: 10px 15px;
	border-top: 1px solid #48260a;
}
.nav-xs ul li a {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

ul.ksc-nav {
  list-style-type: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-size: 0px;
	padding-left: 0px;
}
ul.ksc-nav li {
  display: inline-block;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
ul.ksc-nav li a {
  color: #454545;
  line-height: 68px;
  font-size: 21px;
	background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f0f0f0),color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,#f0f0f0,#ffffff);
	background: -moz-linear-gradient(top,#f0f0f0,#ffffff);
	background: -o-linear-gradient(top,#f0f0f0,#ffffff);
	background: linear-gradient(top,#f0f0f0,#ffffff);
	background-color: #f2f2f3;
	display: block;
  /*
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 2px solid white;
  position: relative;
  */
}
ul.ksc-nav>li>a {
	padding: 0px 20px;
}
ul.ksc-nav li.active {
	background: none;
  background-color: #47280b;
  color: #454545
	border-left: 1px solid #47280b;
	border-right: 1px solid #47280b;
	border-bottom: 1px solid #47280b;
}
ul.ksc-nav li.active a {
  color: #e3e3e3;
}

ul.ksc-nav li a:hover {
	background: none;
  background-color: #47280b;
  color: #fff;
	border: 1px solid #47280b;
}
ul.ksc-nav li.first, ul.ksc-nav li.first a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
ul.ksc-nav li.last, ul.ksc-nav li.last a {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*MainMenu*/
.MainMenu--desktop {
	display: table;
}
.MainMenu--desktop>.menu {
	display: table-row;
}
.menu {
	margin: 0;
	padding: 0;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
.MainMenu--desktop>.menu>li.active-trail, .MainMenu--desktop>.menu>li:hover {
	border-color: #47280b;
}
.MainMenu--desktop>.menu>li:first-child {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border-left: 1px solid #e3e3e3;
}
.MainMenu--desktop>.menu>li {
	display: table-cell;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.menu li {
	list-style: none;
}
.MainMenu--desktop>.menu>li>a.active-trail, .MainMenu--desktop>.menu>li>a:hover, .MainMenu--desktop>.menu>li>a.is-active {
	border-color: #47280b;
	color: #FFF;
	background: #47280b;
}
.MainMenu--desktop>.menu>li>a.active-trail, .MainMenu--desktop>.menu>li>a:hover, .MainMenu--desktop>.menu>li>a.is-active {
	border-color: #47280b;
	color: #FFF;
	background: #47280b;
}
.MainMenu--desktop>.menu>li:first-child>a {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.MainMenu--desktop>.menu>li>a {
	background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f0f0f0),color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,#f0f0f0,#ffffff);
	background: -moz-linear-gradient(top,#f0f0f0,#ffffff);
	background: -o-linear-gradient(top,#f0f0f0,#ffffff);
	background: linear-gradient(top,#f0f0f0,#ffffff);
	background-color: #f0f0f0;
	display: block;
	line-height: 68px;
	font-size: 21px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 2px solid white;
	position: relative;
	padding: 0 20px;
}
.MainMenu--desktop a.active-trail, .MainMenu--desktop a:hover {
	border-color: #47280b;
	color: #FFF;
	background: #47280b;
}
.MainMenu--desktop a {
	color: #454545;
}
.MainMenu--desktop>.menu>li {
	display: table-cell;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.menu li {
	list-style: none;
}
.MainMenu--desktop a {
	color: #454545;
	text-decoration: none;
}
.MainMenu--desktop>.menu>li:last-child {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.MainMenu--desktop>.menu>li:last-child>a {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
/*Page*/
.page-wrapper {
	background-color: #70aed1;
	position: relative;
	z-index: 2;
	padding-bottom: 20px;
}
.page-intro {
	padding-bottom: 50px;
}
.page-wrapper .page-rules-show {
	background-color: #70aed1;
	padding-top: 20px;
	font-weight: bold;
}
.page-wrapper .page-rules-show h5 {
	font-weight: bold;
}
.page-wrapper .ig-item {
	background-color: #fff;
	margin-bottom: 15px;
	border-bottom: 1px solid #5c8fac;
	position: relative;
	cursor: pointer;
}
.page-wrapper .ig-item h6 {
	padding: 12px;
	margin: 0px;
	font-weight: bold;
	background-image: url(images/ksc-arrow-down-gray.png);
	background-position: center right 12px;
	background-repeat: no-repeat;
	text-transform: uppercase;
}
.page-wrapper .ig-item .ig-item-caption {
	position: absolute;
	left: 0px;
	background-color: #fff;
	padding: 12px;
	z-index: 2;
	width: 100%;
}
.page-wrapper .ig-item .ig-item-caption .item-share {
	width: 100%;
	text-align: right;
	display: none;
}
.page-wrapper .ig-spinner {
	height: 80px;
}
.page-tags {
	margin-top: 40px;
}
.sheme-header {
	margin-top: 30px;
	margin-bottom: 20px;
}
/*Footer*/
.footer {
	padding-bottom: 70px;
}
.footer .somepad {
	margin-top :20px;
}
.footer-end p {
	font-weight: normal;
	padding: 16px;
	font-size: 14px;
	margin-bottom :0px;
}
.footer .abouter {
	position: relative;
}
.footer .abouter .ksc-push {
	vertical-align: top;
	padding-left: 40px;

}
.footer .footer-ilh {
	display: inline-block;
}
.footer .who-text,.footer .who-arrow {
	position: absolute;
}
.footer .who-text {
	left: 64%;
	bottom:-90px;
}
.footer .who-arrow {
	left: 50%;
	bottom:-40px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h2 {
		padding: 0;
		background-color: transparent;
		color: #ae1a87;
		font-size: 68px;
		-webkit-transform: rotate(-3deg);
		/* Firefox */
		-moz-transform: rotate(-3deg);
		/* IE */
		-ms-transform: rotate(-3deg);
		/* Opera */
		-o-transform: rotate(-3deg);
		/* Internet Explorer */
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	}
	h2.as-btn-xs {
		padding: 0;
		background-color: transparent;
		color: #ae1a87;
		font-size: 68px;
		-webkit-transform: rotate(-3deg);
		/* Firefox */
		-moz-transform: rotate(-3deg);
		/* IE */
		-ms-transform: rotate(-3deg);
		/* Opera */
		-o-transform: rotate(-3deg);
		/* Internet Explorer */
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header .header-top {
		min-height: 80px;
		background-color: #fff;
	}
	.header .hd-padder {
		padding-top: 30px;
	}
	.header .hd-padder .ksc-push {
		right: -80px;
		top: 30px;
	}
	.header .header-lamp {

	}
	.page-tags {
		margin-top: 30px;
	}
	.footer .abouter {
		padding-top: 20px;
	}
	.section-break {
		height:20px;
	}
	.back-to-top {
		bottom: 20px;
		right: 30px;
	}
}

/* Large devices (large desktops, 1100px and up) */
@media (min-width: 1100px) {

}
